@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

body {
    padding-bottom: 100px;
}

.navbar .nav-link.active {
    background-color: #606C5D;
    color: $light !important;
    border-radius: 0.5rem;
}

.navbar .nav-link:hover {
    background-color: #606c5d7b;
    border-radius: 0.5rem;
}

.card-img-top {
    height: 300px;
    object-fit: cover;
}